.card {
  width: 300px;  
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.card-dark{
  background-color: #576574;
  color: wheat;
  border: 1px solid #576574;
  
}

.card-light{
  background-color: #fff;
  color: #222f3e;
  border: 1px solid #c8d6e5;
}





.card img {
  width: 100%;
  border-radius: 8px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.card-dark > div > p {
  color: wheat;
}

.btn-delete {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-delete:focus {
  outline: none;
}

.btn-delete:active {
  transform: scale(0.95);
}



.btn-delete:hover {
  background-color: #f74a3e;
}
